<template>
        <ColorPicker
            theme="dark"
            :color="color"
            :sucker-hide="false"
            :sucker-canvas="suckerCanvas"
            :sucker-area="suckerArea"
            @openSucker="openSucker"
            @changeColor="changeColor"
        />
    <div class="bg">
        <div class="auror_bg"></div>
        <div class="aur_cont">
            <span v-for="i in 24" :key="i" :class="'aur aur_'+i"></span>
        </div>
        <div class="star"></div>
        <span v-for="i in 4" :key="i" :class="'wave wave_'+i"></span>
        <div class="pinetree">
            <span class="foot"></span>
        </div>
        <span class="hill"></span>
    </div>
    <div class="button-container">
        <button @click="sendRGB(this.color)">Set RGB</button>
        <button @click="sendMode('aurora')">Set Aurora</button>
        <button @click="sendMode('aurora-v2')">Set Aurora V2</button>
        <button class="turn-off" @click="sendRGB('#00000')">Turn off</button>
    </div>
</template>

<script>
import { ColorPicker } from 'vue-color-kit'

export default {
    components: {
        ColorPicker,
    },
    data() {
        return {
            color: '#59c7f9',
            suckerCanvas: null,
            suckerArea: [],
            isSucking: false,
        }
    },
    methods: {
        changeColor(color) {
            this.color = color.hex
        },
        sendRGB(color) {
            const url = 'http://localhost:8010/color';
            const data = { color: color }
            console.log(data)
            const options = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            };


            try {
                const response = fetch(url, options);
                if (response.ok) {
                    console.log('RGB values sent successfully!');
                } else {
                    console.error('Error sending RGB values:', response.statusText);
                }
            } catch (error) {
                console.error('Error sending RGB values:', error);
            }
        },
        sendMode(modeText) {
            const url = 'http://localhost:8010/mode';
            const data = { mode: modeText }
            console.log(data)
            const options = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            };

            try {
                const response = fetch(url, options);
                if (response.ok) {
                    console.log('Mode values sent successfully!');
                } else {
                    console.error('Error sending mode values:', response.statusText);
                }
            } catch (error) {
                console.error('Error sending mode values:', error);
            }
        },
    },
}
</script>
