.hue {
    display: none;
}

.saturation {
    width: 100%;
}

.saturation canvas {
    width: 100%;
}
.color-alpha {
    display: none !important;
}

.button-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.hu-color-picker {
    position: absolute;
}

.sucker {
    display: none;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0;
    transition: 0.3s ease-out;
    z-index: -1;
}

button {
    background-color: #4CAF50;
    max-width: 200px;
    width: 100%;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: border-color 0.3s ease-out;
    border: 2px solid #4CAF50;
}

button:hover {
    transform: scale(1.1);
}

button.turn-off {
    background-color: #e74c3c;
    border: 0;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button.turn-off:hover {
    background-color: #c0392b;
}

body {
    background: black;
}
body .bg {
    width: 100%;
    margin: auto;
    height: 100vh;
    max-height: 600px;
    overflow: hidden;
    position: relative;
}
body .bg .auror_bg {
    position: absolute;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    max-width: 2400px;
    max-height: 2400px;
    animation-name: northern;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: linear-gradient(rgba(102, 255, 153, 0.2) 10%, #370037 15%, black 100%);
}
body .bg .aur_cont {
    margin: -65px auto 0;
    display: table;
    height: auto;
}
body .bg .aur_cont .aur {
    transform: skew(-0.06turn, 18deg);
    display: block;
    width: 0;
    min-height: 200px;
    float: left;
    margin-left: 40px;
    border-radius: 5% 52% 30px 20px;
    opacity: 0.6;
}
body .bg .aur_cont .aur.aur_1 {
    box-shadow: #4b916d 0px 0px 100px 20px;
    margin-top: 10px;
    animation: topup 3008ms infinite linear;
}
body .bg .aur_cont .aur.aur_2 {
    box-shadow: #4bb111d 0px 0px 100px 20px;
    margin-top: 80px;
    animation: topup 4452ms infinite linear;
}
body .bg .aur_cont .aur.aur_3 {
    box-shadow: #4b7ce4 0px 0px 100px 20px;
    margin-top: 36px;
    animation: topup 6295ms infinite linear;
}
body .bg .aur_cont .aur.aur_4 {
    box-shadow: #4bc1131 0px 0px 100px 20px;
    margin-top: -2px;
    animation: topup 6339ms infinite linear;
}
body .bg .aur_cont .aur.aur_5 {
    box-shadow: #4ba112f 0px 0px 100px 20px;
    margin-top: 56px;
    animation: topup 5857ms infinite linear;
}
body .bg .aur_cont .aur.aur_6 {
    box-shadow: #4b105130 0px 0px 100px 20px;
    margin-top: -8px;
    animation: topup 12757ms infinite linear;
}
body .bg .aur_cont .aur.aur_7 {
    box-shadow: #4ba2b2 0px 0px 100px 20px;
    margin-top: 95px;
    animation: topup 5495ms infinite linear;
}
body .bg .aur_cont .aur.aur_8 {
    box-shadow: #4be54e 0px 0px 100px 20px;
    margin-top: 91px;
    animation: topup 8770ms infinite linear;
}
body .bg .aur_cont .aur.aur_9 {
    box-shadow: #4b160d7 0px 0px 100px 20px;
    margin-top: 92px;
    animation: topup 8744ms infinite linear;
}
body .bg .aur_cont .aur.aur_10 {
    box-shadow: #4b8855 0px 0px 100px 20px;
    margin-top: 74px;
    animation: topup 4002ms infinite linear;
}
body .bg .aur_cont .aur.aur_11 {
    box-shadow: #4b15f8c 0px 0px 100px 20px;
    margin-top: 91px;
    animation: topup 8247ms infinite linear;
}
body .bg .aur_cont .aur.aur_12 {
    box-shadow: #4b162125 0px 0px 100px 20px;
    margin-top: 21px;
    animation: topup 7085ms infinite linear;
}
body .bg .aur_cont .aur.aur_13 {
    box-shadow: #4b120f6 0px 0px 100px 20px;
    margin-top: 42px;
    animation: topup 9856ms infinite linear;
}
body .bg .aur_cont .aur.aur_14 {
    box-shadow: #4b76117 0px 0px 100px 20px;
    margin-top: 35px;
    animation: topup 5355ms infinite linear;
}
body .bg .aur_cont .aur.aur_15 {
    box-shadow: #4b7dc8 0px 0px 100px 20px;
    margin-top: 72px;
    animation: topup 8006ms infinite linear;
}
body .bg .aur_cont .aur.aur_16 {
    box-shadow: #4b846c 0px 0px 100px 20px;
    margin-top: -36px;
    animation: topup 9840ms infinite linear;
}
body .bg .aur_cont .aur.aur_17 {
    box-shadow: #4bc05e 0px 0px 100px 20px;
    margin-top: 2px;
    animation: topup 4597ms infinite linear;
}
body .bg .aur_cont .aur.aur_18 {
    box-shadow: #4bce123 0px 0px 100px 20px;
    margin-top: -22px;
    animation: topup 9484ms infinite linear;
}
body .bg .aur_cont .aur.aur_19 {
    box-shadow: #4b9597 0px 0px 100px 20px;
    margin-top: 44px;
    animation: topup 8880ms infinite linear;
}
body .bg .aur_cont .aur.aur_20 {
    box-shadow: #4b6686 0px 0px 100px 20px;
    margin-top: -32px;
    animation: topup 11930ms infinite linear;
}
body .bg .aur_cont .aur.aur_21 {
    box-shadow: #4be412f 0px 0px 100px 20px;
    margin-top: 27px;
    animation: topup 8566ms infinite linear;
}
body .bg .aur_cont .aur.aur_22 {
    box-shadow: #4beee3 0px 0px 100px 20px;
    margin-top: 72px;
    animation: topup 7009ms infinite linear;
}
body .bg .aur_cont .aur.aur_23 {
    box-shadow: #4b11612a 0px 0px 100px 20px;
    margin-top: -14px;
    animation: topup 8998ms infinite linear;
}
body .bg .aur_cont .aur.aur_24 {
    box-shadow: #4b1196c 0px 0px 100px 20px;
    margin-top: 78px;
    animation: topup 4685ms infinite linear;
}
body .bg .pinetree {
    background: black;
    width: 5px;
    height: 20px;
    position: absolute;
    bottom: 85px;
    z-index: 2;
    box-shadow: 2px 0px 20px grey;
    left: 20%;
}
body .bg .pinetree:after {
    position: absolute;
    top: -15px;
    left: -18px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid black;
    content: "";
}
body .bg .pinetree:before {
    position: absolute;
    top: -23px;
    left: -12px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid black;
    content: "";
}
body .bg .hill {
    width: 120vw;
    margin-left: -10vw;
    height: 215px;
    margin-bottom: -100px;
    box-shadow: 3px 0px 50px grey;
    position: absolute;
    background: linear-gradient(#0a000a 0%, black 100%);
    bottom: 0;
    left: 0;
    border-radius: 50%;
}
.wave {
    width: 100vw;
    max-width: 1200px;
    max-height: 1200px;
    background: white;
    height: 100vw;
    display: block;
    border-radius: 47%;
    opacity: 0.1;
    box-shadow: white 0 0 30px 10px;
    position: absolute;
    margin: calc(-1300px / 1) auto 0;
}
.wave.wave_1 {
    animation: drift 9000ms infinite linear;
}
.wave.wave_2 {
    animation: drift 15000ms infinite linear;
    border-radius: 46%;
    margin: calc(calc(-1300px / 1) - 2%) auto 0;
}
.wave.wave_3 {
    animation: drift 7000ms infinite linear;
    color: mintcream;
    opacity: 0.1;
    margin: calc(calc(-1300px / 1) - 10%) auto 0;
}
.wave.wave_4 {
    animation: drift 7000ms infinite linear;
    opacity: 0.1;
    margin: calc(calc(-1300px / 1) - 5%) auto 0;
}
@keyframes drift {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}
@keyframes topup {
    0%, 100% {
        transform: translatey(30px);
    }
    50% {
        transform: translatey(100px);
    }
}
@keyframes northern {
    0% {
        transform: translate(5%, -2%);
    }
    25% {
        transform: translate(10%, 7%);
    }
    40% {
        transform: rotate(-10deg);
    }
    60% {
        transform: translate(7%, -2%);
    }
    85% {
        transform: translate(6%, 3%) rotate(12deg);
    }
    100% {
        transform: none;
    }
}
.star {
    position: fixed;
    opacity: 0.9;
    top: 0;
    left: 0;
    display: block;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 020vw 35vw 3px 1px rgba(255, 255, 255, .5), 12vw 51vw 4px 2px rgba(255, 255, 255, .5), 7vw 25vw 1px 1px rgba(255, 255, 255, .5), 8vw 14vw 3px 2px rgba(255, 255, 255, .5), 23vw 52vw 4px 2px rgba(255, 255, 255, .5), 63vw 10vw 4px 2px rgba(255, 255, 255, .5), 29vw 21vw 5px 1px rgba(255, 255, 255, .5), 40vw 34vw 1px 1px rgba(255, 255, 255, .5), 79vw 74vw 3px 2px rgba(255, 255, 255, .5), 40vw 48vw 1px 1px rgba(255, 255, 255, .5), 44vw 68vw 2px 2px rgba(255, 255, 255, .5), 72vw 71vw 4px 1px rgba(255, 255, 255, .5), 32vw 4vw 1px 1px rgba(255, 255, 255, .5), 1vw 44vw 2px 1px rgba(255, 255, 255, .5), 25vw 2vw 2px 2px rgba(255, 255, 255, .5), 67vw 45vw 2px 2px rgba(255, 255, 255, .5), 87vw 28vw 2px 2px rgba(255, 255, 255, .5), 66vw 54vw 1px 2px rgba(255, 255, 255, .5), 22vw 56vw 5px 1px rgba(255, 255, 255, .5), 45vw 12vw 4px 1px rgba(255, 255, 255, .5), 63vw 74vw 4px 1px rgba(255, 255, 255, .5), 18vw 11vw 3px 1px rgba(255, 255, 255, .5), 5vw 53vw 4px 2px rgba(255, 255, 255, .5), 16vw 23vw 5px 1px rgba(255, 255, 255, .5), 76vw 44vw 1px 1px rgba(255, 255, 255, .5), 77vw 23vw 3px 2px rgba(255, 255, 255, .5), 74vw 47vw 2px 1px rgba(255, 255, 255, .5), 21vw 54vw 1px 2px rgba(255, 255, 255, .5), 59vw 72vw 4px 1px rgba(255, 255, 255, .5), 68vw 58vw 1px 1px rgba(255, 255, 255, .5), 98vw 21vw 5px 2px rgba(255, 255, 255, .5), 58vw 52vw 5px 2px rgba(255, 255, 255, .5), 36vw 47vw 3px 1px rgba(255, 255, 255, .5), 51vw 7vw 4px 2px rgba(255, 255, 255, .5), 45vw 53vw 2px 1px rgba(255, 255, 255, .5), 3vw 34vw 3px 2px rgba(255, 255, 255, .5), 38vw 34vw 5px 1px rgba(255, 255, 255, .5), 39vw 75vw 5px 1px rgba(255, 255, 255, .5), 58vw 13vw 4px 2px rgba(255, 255, 255, .5), 74vw 36vw 3px 2px rgba(255, 255, 255, .5), 67vw 55vw 3px 1px rgba(255, 255, 255, .5), 64vw 4vw 4px 1px rgba(255, 255, 255, .5), 53vw 62vw 1px 2px rgba(255, 255, 255, .5), 13vw 17vw 3px 1px rgba(255, 255, 255, .5), 49vw 7vw 4px 1px rgba(255, 255, 255, .5), 76vw 59vw 5px 2px rgba(255, 255, 255, .5), 79vw 10vw 2px 1px rgba(255, 255, 255, .5), 69vw 70vw 1px 1px rgba(255, 255, 255, .5), 72vw 61vw 2px 2px rgba(255, 255, 255, .5), 93vw 9vw 5px 1px rgba(255, 255, 255, .5), 78vw 2vw 3px 2px rgba(255, 255, 255, .5), 43vw 41vw 5px 1px rgba(255, 255, 255, .5), 57vw 45vw 2px 1px rgba(255, 255, 255, .5), 79vw 68vw 1px 1px rgba(255, 255, 255, .5), 81vw 34vw 2px 2px rgba(255, 255, 255, .5), 74vw 71vw 5px 2px rgba(255, 255, 255, .5), 17vw 1vw 2px 2px rgba(255, 255, 255, .5), 24vw 70vw 3px 2px rgba(255, 255, 255, .5), 2vw 64vw 2px 1px rgba(255, 255, 255, .5), 32vw 11vw 3px 2px rgba(255, 255, 255, .5), 32vw 61vw 1px 1px rgba(255, 255, 255, .5), 8vw 3vw 5px 2px rgba(255, 255, 255, .5), 44vw 12vw 3px 1px rgba(255, 255, 255, .5), 30vw 76vw 1px 2px rgba(255, 255, 255, .5), 87vw 46vw 1px 1px rgba(255, 255, 255, .5), 20vw 16vw 2px 2px rgba(255, 255, 255, .5), 94vw 75vw 4px 1px rgba(255, 255, 255, .5), 76vw 3vw 2px 1px rgba(255, 255, 255, .5), 46vw 26vw 5px 2px rgba(255, 255, 255, .5), 36vw 16vw 1px 1px rgba(255, 255, 255, .5), 10vw 51vw 1px 1px rgba(255, 255, 255, .5), 40vw 46vw 4px 1px rgba(255, 255, 255, .5), 95vw 74vw 2px 2px rgba(255, 255, 255, .5), 18vw 29vw 5px 1px rgba(255, 255, 255, .5), 61vw 70vw 3px 1px rgba(255, 255, 255, .5), 91vw 73vw 3px 1px rgba(255, 255, 255, .5), 1vw 45vw 5px 1px rgba(255, 255, 255, .5), 74vw 49vw 2px 2px rgba(255, 255, 255, .5), 90vw 21vw 5px 1px rgba(255, 255, 255, .5), 68vw 69vw 1px 2px rgba(255, 255, 255, .5), 68vw 19vw 3px 1px rgba(255, 255, 255, .5), 90vw 46vw 1px 2px rgba(255, 255, 255, .5), 85vw 78vw 2px 1px rgba(255, 255, 255, .5), 75vw 41vw 1px 2px rgba(255, 255, 255, .5), 35vw 33vw 1px 2px rgba(255, 255, 255, .5), 16vw 70vw 3px 2px rgba(255, 255, 255, .5), 57vw 42vw 3px 2px rgba(255, 255, 255, .5), 8vw 45vw 2px 1px rgba(255, 255, 255, .5), 60vw 46vw 1px 2px rgba(255, 255, 255, .5), 32vw 34vw 5px 2px rgba(255, 255, 255, .5), 31vw 21vw 1px 2px rgba(255, 255, 255, .5), 33vw 14vw 1px 1px rgba(255, 255, 255, .5), 48vw 13vw 2px 1px rgba(255, 255, 255, .5), 27vw 71vw 5px 1px rgba(255, 255, 255, .5), 55vw 24vw 5px 1px rgba(255, 255, 255, .5), 40vw 69vw 2px 2px rgba(255, 255, 255, .5), 49vw 60vw 1px 1px rgba(255, 255, 255, .5), 20vw 65vw 4px 2px rgba(255, 255, 255, .5), 71vw 10vw 4px 1px rgba(255, 255, 255, .5), 36vw 60vw 4px 2px rgba(255, 255, 255, .5), 20vw 79vw 3px 1px rgba(255, 255, 255, .5), 45vw 21vw 4px 2px rgba(255, 255, 255, .5), 76vw 52vw 1px 2px rgba(255, 255, 255, .5), 36vw 45vw 4px 2px rgba(255, 255, 255, .5), 83vw 67vw 4px 2px rgba(255, 255, 255, .5), 35vw 19vw 4px 1px rgba(255, 255, 255, .5), 14vw 30vw 4px 1px rgba(255, 255, 255, .5), 20vw 19vw 1px 1px rgba(255, 255, 255, .5), 57vw 35vw 1px 1px rgba(255, 255, 255, .5), 60vw 54vw 4px 2px rgba(255, 255, 255, .5), 64vw 45vw 1px 2px rgba(255, 255, 255, .5), 55vw 47vw 1px 1px rgba(255, 255, 255, .5), 60vw 24vw 1px 1px rgba(255, 255, 255, .5), 18vw 30vw 1px 2px rgba(255, 255, 255, .5), 31vw 71vw 3px 1px rgba(255, 255, 255, .5), 83vw 31vw 3px 2px rgba(255, 255, 255, .5), 30vw 14vw 4px 1px rgba(255, 255, 255, .5), 31vw 74vw 5px 2px rgba(255, 255, 255, .5), 21vw 64vw 3px 1px rgba(255, 255, 255, .5), 79vw 80vw 5px 1px rgba(255, 255, 255, .5), 38vw 8vw 5px 2px rgba(255, 255, 255, .5), 30vw 58vw 4px 1px rgba(255, 255, 255, .5), 34vw 11vw 4px 2px rgba(255, 255, 255, .5), 2vw 10vw 1px 1px rgba(255, 255, 255, .5), 26vw 26vw 4px 1px rgba(255, 255, 255, .5), 33vw 40vw 2px 2px rgba(255, 255, 255, .5), 58vw 17vw 4px 2px rgba(255, 255, 255, .5), 54vw 23vw 3px 2px rgba(255, 255, 255, .5), 59vw 48vw 1px 2px rgba(255, 255, 255, .5), 51vw 43vw 3px 2px rgba(255, 255, 255, .5), 10vw 11vw 3px 1px rgba(255, 255, 255, .5), 27vw 23vw 1px 1px rgba(255, 255, 255, .5), 79vw 30vw 4px 1px rgba(255, 255, 255, .5), 57vw 80vw 1px 1px rgba(255, 255, 255, .5), 60vw 35vw 5px 1px rgba(255, 255, 255, .5), 75vw 45vw 3px 1px rgba(255, 255, 255, .5), 47vw 79vw 2px 1px rgba(255, 255, 255, .5), 60vw 21vw 3px 1px rgba(255, 255, 255, .5), 28vw 73vw 3px 2px rgba(255, 255, 255, .5), 88vw 56vw 2px 2px rgba(255, 255, 255, .5), 95vw 28vw 2px 1px rgba(255, 255, 255, .5), 56vw 22vw 5px 2px rgba(255, 255, 255, .5), 13vw 47vw 5px 2px rgba(255, 255, 255, .5), 5vw 72vw 5px 2px rgba(255, 255, 255, .5), 82vw 33vw 1px 2px rgba(255, 255, 255, .5), 50vw 56vw 3px 2px rgba(255, 255, 255, .5), 69vw 22vw 4px 1px rgba(255, 255, 255, .5), 77vw 49vw 4px 1px rgba(255, 255, 255, .5), 16vw 40vw 2px 1px rgba(255, 255, 255, .5), 62vw 67vw 3px 1px rgba(255, 255, 255, .5), 9vw 18vh 0 0 rgba(255, 255, 255, .9);
}


@media (max-width: 768px) {
    button {
        max-width: 100%;
    }
}

.hu-color-picker{padding:10px;background:#1d2024;border-radius:4px;box-shadow:0 0 16px 0 rgba(0,0,0,.16);z-index:1}.hu-color-picker.light{background:#f7f8f9}.hu-color-picker.light .color-show .sucker{background:#eceef0}.hu-color-picker.light .color-type .name{background:#e7e8e9}.hu-color-picker.light .color-type .value{color:#666;background:#eceef0}.hu-color-picker.light .colors.history{border-top:1px solid #eee}.hu-color-picker canvas{vertical-align:top}.hu-color-picker .color-set{display:flex}.hu-color-picker .color-show{margin-top:8px;display:flex}.saturation{position:relative;cursor:pointer}.saturation .slide{position:absolute;left:100px;top:0;width:10px;height:10px;border-radius:50%;border:1px solid #fff;box-shadow:0 0 1px 1px rgba(0,0,0,.3);pointer-events:none}.color-alpha{position:relative;margin-left:8px;cursor:pointer}.color-alpha .slide{position:absolute;left:0;top:100px;width:100%;height:4px;background:#fff;box-shadow:0 0 1px 0 rgba(0,0,0,.3);pointer-events:none}.sucker{width:30px;fill:#9099a4;background:#2e333a;cursor:pointer;transition:all .3s}.sucker.active,.sucker:hover{fill:#1593ff}.hue{position:relative;margin-left:8px;cursor:pointer}.hue .slide{position:absolute;left:0;top:100px;width:100%;height:4px;background:#fff;box-shadow:0 0 1px 0 rgba(0,0,0,.3);pointer-events:none}.colors{padding:0;margin:0}.colors.history{margin-top:10px;border-top:1px solid #2e333a}.colors .item{position:relative;width:16px;height:16px;margin:10px 0 0 10px;border-radius:3px;box-sizing:border-box;vertical-align:top;display:inline-block;transition:all .1s;cursor:pointer}.colors .item:nth-child(8n+1){margin-left:0}.colors .item:hover{transform:scale(1.4)}.colors .item .alpha{height:100%;border-radius:4px}.colors .item .color{position:absolute;left:0;top:0;width:100%;height:100%;border-radius:3px}.color-type{display:flex;margin-top:8px;font-size:12px}.color-type .name{width:60px;height:30px;float:left;display:flex;justify-content:center;align-items:center;color:#999;background:#252930}.color-type .value{flex:1;height:30px;min-width:100px;padding:0 12px;border:0;color:#fff;background:#2e333a;box-sizing:border-box}